/*
File:			carlos-new.css
Description:	Custom styles for docbook
Author			Carlos Araya
*/

/* @fontface declarations to locally stored fonts */
@font-face {
    font-family: GraublauWeb;
    src: url(GraublauWeb.otf) format(truetype);
}

/* Rest of the CSS declarations */
body {
	font-family:GraublauWeb, Verdana, Arial, Helvetica, sans-serif;
	font-size: 62.5%;
}


h1, h2, h3, h4 {
	font-family:GraublauWeb, Verdana, Arial, Helvetica, sans-serif;
	color: #cc0000;
	font-weight: bold;
}

pre.programlisting {
  background-color: #FFFF99 ;
  border: 1px solid #006600 ;
}