/*
File:			carlos-new.css
Description:	Custom styles for docbook
Author			Carlos Araya

Fonts from typekit
font-family: burnaby-stencil,sans-serif; // goofy font
font-family: ff-tisa-web-pro,serif; // headers
font-family: inconsolata,sans-serif; // body
font-family: minerva-modern,"sans serif"; // title

*/
html {
	font-family: inconsolata,sans-serif;
/*	font-size: 62.5%;*/
}


h1, h2, h3, h4 {
	font-family: minerva-modern,"sans serif"; 
	color: #00a;
}

pre.programlisting {
  background-color: #FFFF99 ;
  border: 1px solid #006600 ;
}